// Colores principales
$primary-color: #354f52;
$secondary-color: #bcdce9;
$accent-color: #ec0303;

// Colores de texto y fondo
$text-light: #ffffff;
$text-dark: #0b0a0a; // Para botones claros o contrastes específicos
$bg-gradient: linear-gradient(135deg, #cacaca 0%, #bcdce9 100%);

// Bordes y sombras
$border-color: #cccccc;
$shadow: 0 0.2rem 0.6rem rgba(0, 0, 0, 1);
$border-radius: 0.6rem;
