@use "../core/variables" as *;

.header {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  // 5px / 16 = 0.3125rem
  border-bottom: 0.3125rem solid $accent-color;
}

.title {
  margin: 0;
  font-family: $font-tech;
  font-size: 2.5rem;

  letter-spacing: 0.125rem;
  color: $text-primary;
}

.title::after {
  content: "|";
  animation: blink 1.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
