@use "./core/variables" as *;
@use "./core/reset";
@use "./components/header";
@use "./components/cards";

body {
  background-color: $bg-color;
  color: $text-primary;
  font-family: $font-body;
  margin: 0;
}

h2,
h3 {
  font-family: $font-tech; // Títulos con look de código
  text-transform: uppercase; // Le da un toque muy de consola antigua
}
