@use "../core/variables" as vars;

.filter {
  grid-area: filter;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-radius: vars.$border-radius;
}

.filter-input {
  width: 50%;
  height: 2rem;
  line-height: 2.5rem;
  padding: 0 1rem;
  border-radius: vars.$border-radius;
  box-shadow: vars.$shadow;
}

.filter-btn {
  background-color: vars.$primary-color;
  color: vars.$text-light;
  border: none;
  border-radius: vars.$border-radius;
  padding: 0.625rem 1rem;
  box-shadow: vars.$shadow;
  cursor: pointer;
}
