@use "../core/variables" as vars;
/* ================ HEADER ================ */
.header {
  padding: 1rem;
  background-color: vars.$primary-color;
  color: vars.$text-light;
  text-align: center;
  margin: 2.5rem;
  border-radius: vars.$border-radius;
  box-shadow: vars.$shadow;
}

/* ================ LAYOUT ================ */
body {
  background: vars.$bg-gradient;
}
.main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: auto 1fr;
  grid-template-areas:
    "filter cart"
    "products cart";
  gap: 1.5rem;
  align-items: start;
  margin: 2rem;
}

.shop {
  text-align: center;
}

/* ================ FOOTER ================ */
.footer {
  padding: 0.5rem;
  background-color: vars.$primary-color;
  color: vars.$text-light;
  text-align: center;

  box-shadow: vars.$shadow;

  span {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  .text-footer {
    font-size: 0.85rem;
    opacity: 0.8;
  }
}
