@use "../core/variables" as vars;

.quantity-controls {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 0;
}

.quantity-controls button {
  background-color: vars.$primary-color;
  color: vars.$text-light;
  border: none;
  padding: 5px 12px;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.quantity-controls button:hover {
  background-color: vars.$secondary-color;
}

.quantity-controls span {
  font-size: 1rem;
  font-weight: bold;
  min-width: 25px;
  text-align: center;
}
