// --- COLORES ---
$color-hero-blue: #519cf0; // Fondo del Hero
$color-button-green: rgb(36, 166, 36); // Botón principal
$color-black: #000000; // Header y Footer
$color-white_tex: #ffffff; // Texto Hero y Nav
$color-texFooter-gray: #919191; // Texto legal del footer

// --- FUENTES ---
$font-main: "Roboto", sans-serif;
