@use "../core/variables" as *;

@use "../core/variables" as *;

.header {
  height: 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  border-bottom: solid 5px $accent-color;
}

.title {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: 2.5rem;
  letter-spacing: 2px;
  color: $text-primary;
}

.title::after {
  content: "|";
  animation: blink 1.5s infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
