:root {
  --bg-dark: #2d0033;
  --card-bg: #4a005c;
  --neon-pink: #ff0055;
  --neon-cyan: #00f2ff;
  --text-light: #fcfcfc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-dark);
  color: var(--text-light);
  font-family: "Segoe UI", Arial, sans-serif;
}

.header {
  background-color: #1a0020;
  padding: 3rem;
  border-bottom: solid 5px var(--neon-cyan);
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  font-size: 3rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--neon-cyan);
  text-shadow: 0 0 10px var(--neon-cyan);
}

.main {
  padding: 2rem;
}

.palettes-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  list-style: none;
  padding-top: 2rem;
}

.card {
  padding: 15px;
  background: var(--card-bg);
  border: 4px solid transparent;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card:hover {
  transform: translateY(-5px);
  border: 4px solid var(--neon-cyan);
}

.colors-list {
  display: flex;
  list-style: none;
  padding: 10px 0 0 0;
  gap: 8px;
}

.color-box {
  width: 35px;
  height: 35px;
  border-radius: 4px;
}

/* Efecto Cyberpunk al seleccionar */
.card.selected {
  border: 4px solid var(--neon-pink) !important;
  box-shadow: 0 0 15px var(--neon-pink);
  transform: scale(1.05);
}
